
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {

    //background: -webkit-linear-gradient(90deg, #FF934D 10%, #F57421 90%);
    /* Chrome 10+, Saf5.1+ */
    //background: -moz-linear-gradient(90deg, #FF934D 10%, #F57421 90%);
    /* FF3.6+ */
    //background: -ms-linear-gradient(90deg, #FF934D 10%, #F57421 90%);
    /* IE10 */
    //background: -o-linear-gradient(90deg, #FF934D 10%, #F57421 90%);
    /* Opera 11.10+ */
    //background: linear-gradient(90deg, #FF934D 10%, #F57421 90%);
    /* W3C */
    background: #F57421;
}

.navbar-default {
    height: 90px;
}

.navbar-static-bottom {
    text-align: center;

    margin-bottom: 0;
    border-radius: 0;
    height: 35px;
}

.center-block {
    margin-right: auto;
    margin-left: auto;
}

/* Landing Page Title */

.page-title {
    font-size: 40px;
    font-weight: bold;
    color: ghostwhite;
    text-align: center;
}

.page-subtitle {
    font-size: 30px;
    font-weight: lighter;
    color: ghostwhite;
    text-align: center;
}

.finish-button{
    background-color:#43A047 !important;
    border-color: #43A047 !important;
}

.previous-button {
    color: #F57421 !important;
    background-color: #FFF !important;
    border-color: #F57421 !important;
}

.forward-button {
    color: #FFF !important;
    background-color: #F57421 !important;
    border-color: #F57421 !important;
}

.benchmark-form {
    background : white;
    max-width: 650px;
}
